COURSE_YOUTUBE_VIDEO_ID="dQw4w9WgXcQ"
AI_API_URL="http://localhost:8787"
AI_MAX_QUESTIONS="10"
GEMINI_API_KEY="PLACEHOLDER_API_KEY"
PINECONE_BASE_URL="PLACEHOLDER_PINECONE_URL"
PINECONE_API_KEY="PINECONE_API_KEY"